<div id="clubLogos">
  <% @clubs.each do |club| %>
    <a href="#">
      <!-- FIXME: Nasty hack: club's permalink must come first! -->
      <div class="<%= club.permalink %> club"></div>
    </a>
  <% end %>
</div>
<div class="clearfix"></div>

<br>
<br>

<div id="buttons">
  <a href="#" id="<%= @days[0].downcase %>"><div class="button todayButton currentDayButton">Today</div></a>
  <% for i in 1..5 %>
  <a href="#" id="<%= @days[i].downcase %>"><div class="button dayButton"><%= @days[i] %></div></a>
  <% end %>
  <a href="#" id="<%= @days[6].downcase %>"><div id="lastDayButton" class="button dayButton"><%= @days[6] %></div></a>
  <a href="#"><div class="clearfix"></div></a>
</div>

<br>

<div class="dottedDivider"></div>

<br>

<div id="events">
  <div class="event campus">
    <h3 class="date_msg">No clubs are open. Well, maybe one.</h3>
    <h3 class="club_msg">Nothing's happening here this week. Maybe it's time to try someplace new.</h3>
    <br>
    <%= image_tag "campus.jpg" %>
    <br>
    <br>
  </div>
  <% @events.each do |event| %>
    <div class="event <%= event.club.permalink + "_event" %> <%= event.date.strftime('%A').downcase %>">
      <div class="eventHostLogo <%= event.club.permalink %>"></div>
      <div class="eventDetails">
        <h2><span><%= event.title %></span></h2>
        <h3><%= event.club.short_name %></h3>
        <h3><%= event.date.strftime("%A the #{event.date.mday.ordinalize}") %></h3>
        <h3><%= event.start_time.strftime("%l:%M%p") %> -
            <%= event.end_time.strftime("%l:%M%p") %></h3>
        <h3><%= event.access %></h3>
        <br>
        <p><%= event.description %></p>
      </div>
      <div class="attendees">
        <a id="<%= event.id %>" class="attendLink" href="#">
          <!-- TODO: Uncomment when :user_id available -->
          <% # if not @user.attending? event %>
          <div class="attendButton">I'll be there</div>
          <% # else %>
            <!-- <div class="attendButton">I'm attending</div> -->
          <% # end %>
          <h2 style="visibility:hidden; display: inline">.</h2>
        </a>
        <h3 style="visibility:hidden">.</h3>
        <!-- TODO: Uncomment -->
        <% # if event.date == Date.today %>
          <% # friend_count = @friends[event.id].size %>
        <% # else %>
          <% friend_count = rand(50) %>
        <% # end %>
        <h3 class="friendsLabel"><%= friend_count %> Friends Attending</h3>
      </div>
      <br />
      <br />
      <br />
    </div>
  <% end %>
</div>
