<!-- <h1>Listing clubs</h1> -->

<!-- <table> -->
<!--   <tr> -->
<!--     <th>Short name</th> -->
<!--     <th>Long name</th> -->
<!--     <th>Logo</th> -->
<!--     <th></th> -->
<!--     <th></th> -->
<!--     <th></th> -->
<!--   </tr> -->

<!-- <% @clubs.each do |club| %> -->
<!--   <tr> -->
<!--     <td><%= club.short_name %></td> -->
<!--     <td><%= club.long_name %></td> -->
<!--     <td><%= club.logo %></td> -->
<!--     <td><%= link_to 'Show', club %></td> -->
<!--     <td><%= link_to 'Edit', edit_club_path(club) %></td> -->
<!--     <td><%= link_to 'Destroy', club, confirm: 'Are you sure?', method: :delete %></td> -->
<!--   </tr> -->
<!-- <% end %> -->
<!-- </table> -->

<!-- <br /> -->

<!-- <%= link_to 'New Club', new_club_path %> -->

<div id="clubLogos">
  <% @clubs.each do |club| %>
    <div class="club" id="<%= club.short_name.downcase %>"></div>
  <% end %>
</div>
