<div id="clubLogos">
  <% @clubs.each do |club| %>
    <%= link_to(club) do %>
      <div class="club <%= club.short_name.downcase %>"></div>
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div>

<br>
<br>

<div id="buttons">
  <a href="#" id="<%= @days[0] %>"><div class="currentDayButton">Today</div></a>
  <% for i in 1..5 %>
  <a href="#" id="<%= @days[i] %>"><div class="dayButton"><%= @days[i] %></div></a>
  <% end %>
  <a href="#" id="<%= @days[6] %>"><div class="dayButton lastDayButton"><%= @days[6] %></div></a>
  <a href="#"><div class="clearfix"></div></a>
</div>

<br>

<div class="dottedDivider"></div>

<br>

<div id="events">
  <% @events.each do |event| %>
    <div class="event <%= event.date.strftime('%A').downcase %>">
      <div class="eventHostLogo <%= event.club.permalink %>"></div>
      <div class="eventDetails">
        <h2><span><%= event.title %></span></h2>
        <h3><%= event.club.short_name %></h3>
        <h3><%= event.start_time.in_time_zone.strftime("%l:%M%p") %> -
        <%= event.end_time.in_time_zone.strftime("%l:%M%p") %></h3>
        <h3><%= event.access %></h3>
        <br>
        <h4><%= event.description %></h4>
      </div>
      <div class="attendees">
        <h2 style="visibility:hidden">.</h2>
        <h3><%= event.attendees.count %> People Attending</h3>
      </div>
    </div>
    <br>
    <br>
  <% end %>
</div>
