<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :club_id, class: "submitLabel" %>
    <%= f.select :club_id, Club.all.collect {|c| [ c.short_name, c.id ]} %>
  </div>
  <br />
  <div class="field">
    <%= f.label :date, class: "submitLabel" %>
    <%= f.date_select :date, start_year: Time.now.year, end_year:
    Time.now.year + 1 %>
  </div>
  <br />
  <div class="field">
    <%= f.label :start_time, class: "submitLabel" %>
    <%= f.time_select :start_time, { minute_step: 15, ampm: true }, { class: "inputArea" } %>
  </div>
  <br />
  <div class="field">
    <%= f.label :end_time, class: "submitLabel" %>
    <%= f.time_select :end_time, { minute_step: 15, ampm: true }, { class: "inputArea" } %>
  </div>
  <br />
  <div class="field">
    <%= f.label :title, class: "submitLabel" %>
    <%= f.text_field :title, class: "inputArea" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :description, class: "submitLabel" %>
    <%= f.text_area :description, size: "40x10", class: "inputArea" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :access, "Access (PUID, Pass, etc.)", class: "submitLabel" %>
    <%= f.text_field :access, class: "inputArea" %>
  </div>
  <br />
  <div class="actions">
    <span class="submitLabel"></span>
    <%= f.submit %>
  </div>
<% end %>
