<!DOCTYPE html>
<html>
  <head>
    <title>TigerPass</title>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="centerColumn">
      <h1>THE STREET</h1>

      <div id="shieldBorder">
        <div id="shield">
          <%= image_tag "shield.png" %>
        </div>
      </div>

      <br>
      <br>

      <%= yield %>

      <div class="dottedDivider"></div>
      <br>
      <br>
      <h3 id="bigDeal">
        Hey, we noticed you're kind of a big deal.
        <br>
        <%= link_to "Submit", new_event_path, class: "linkBorder" %> an upcoming event or <%= link_to "edit", events_path, class: "linkBorder" %> your existing events.
      </h3>

      <br>
      <br>
      <div id="footerDivider"></div>
      <div id="footer" style="text-align: center">
        <h3>Live Long and Prospect.</h3>
        <h5 style="font-size: 13px; padding-top: 5px">
          <a href="about.html" class="iframe linkBorder" >About</a> -
          <a class="linkBorder"
             href="mailto:dskang@princeton.edu?subject='The Street' Web App">Contact</a> - 2012
        </h5>
        <img id="blackshield" style="margin-top: 10px;" src="<%= image_path("blackshield.png") %>" alt="" />
      </div>
    </div>
  </body>
</html>
